<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar-expand-lg navbar-light bg-light">     
            <a class="navbar-brand d-flex justify-content-center">Courier Parcel Delivery Software</a> 
        </nav>
        <div class="row">
            <div class="col-md-8">
             
                <form action="" method="POST">
                  
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputState">merchant Name</label>
                    <select id="inputState" class="form-control" name="merchant_name">
                      {% for p in parcel %} 
                        <option selected>Choose...</option>
                        <option value="{{ p.id }}">{{p.merchant_name.username}}</option>
                        <option>b</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputState"> product type</label>
                    <select id="inputState" class="form-control" name="percel_type">
                      <option selected>Choose...</option>
                      <option>a</option>
                      <option>b</option>
                    </select>
                  </div>
                    <div class="form-group">
                      <label for="inputAddress">Merchant Invoice Id
                      </label>
                      <input type="text" class="form-control" name="merchant_id" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputState"> product type</label>
                      <select id="inputState" class="form-control" name="order_place">
                        <option selected>Choose...</option>
                        <option>a</option>
                       
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="inputState">Parcel Weight</label>
                      <select id="inputState" class="form-control" name="weight">
                        <option selected>Choose...</option>
                        <option>a</option>
                        <option>b</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary justify-content-center">Order</button>
                   
                  </form>
                
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>